body{
    background-color: #001C30;
}
#clockContainer{
   
    position: relative;
    margin:70px auto;
    width: 40vw;
    height: 40vw;
    background: url(assets/clock.png) no-repeat;
    background-size: 100%;
   
    
}
#hour ,#min ,#sec{
    position: absolute;
    background: #000;
    border-radius: 10px;
}
#hour{
    width: 1.8%;
    height: 19%;
    top: 29%;
    left: 49%;
    opacity: 0.8;
   transform-origin: bottom;
   
}
#min{
    width: 1.3%;
    height: 23%;
    top: 25%;
    left: 49%;
    opacity: 0.8;
    transform-origin: bottom;
   
   
   
  
}
#sec{
    width: 1%;
    height: 29%;
    top: 19%;
    left: 49.3%;
    opacity: 0.8;
    transform-origin: bottom;
 
    
}